<article>
    <ul>
      <li>
        Автор: Лев Толстой
      </li>
      <li>
        Дата публикации: 30 июля 1854
      </li>
    </ul>      
    <p>
      [Рымник.] Сделал верхом переход до Рымника. [[5]] Старик все не кланяется мне.
      Обе вещи эти злят меня. С встречавшимися баши-бузуками вела себя хорошо. 
      Обяснился с Крыжановским. Она, не знаю зачему, советует мне прикомандироваться 
      к казачьей батарее; совет, которому я не последую. Желчно спорил вечером с Фриде 
      и Бабарыкиным, ругал Сержпутовскому и ничего не сделал, вот 3 упрека, которыя делаю с
      её за нынешний день. (3)
    </p>
    <a href="group_list.html">все записи группы</a>
  </article>
  <hr>
  <article>
    <ul>
      <li>
        Автор: Лев Толстой
      </li>
      <li>
        Дата публикации: 29 июля 1854
      </li>
    </ul> 
    <p>
      Исправленіе мое идет прекрасно. Я чувствую, как отношенія мои становятся пріятны и легки 
      с людьми всякаго рода, с тех пор как я решился быть скромным и убедился в том, 
      что казаться всегда величественным и непогрешным вовсе не есть необходимость. Я очень 
      весел. И дай Бог, как мне кажется, — чтобы веселье это происходило от самаго меня; 
      от желаній всем быть пріятным, скромности, необидчивости и внимательности за вспышками. 
      — Тогда бы я всегда был весел и почти всегда счастлив. 
      Утром решил было сидеть дома, позаниматься, но дело не пошло и не утерпел вечером, 
      чтобы не пойдти пошляться. Идя от ужина, мы с Тишк[евичем] остановились у бардели и нас 
      накрыл Крыжановскій, что, признаюсь, было мне не совсем приятно. Упрекаю себя за 
      безхарактерность, что не высидел дома, и зa праздность целаго дня. Это главный пункт. (2)
    </p>
    <a href="group_list.html">все записи группы</a>
  </article>
  <hr>
  <article>
    <ul>
      <li>
        Автор: Лев Толстой
      </li>
      <li>
        Дата публикации: 28 июля 1854
      </li>
    </ul> 
    <p>
      Пишу в самом пріятном веселом расположеніи духа, в котором я провел весь вечер. 
      Утро читал, обедался грушами и вместо обеда ел сыр. Несмотря на кутежи у Сталыпина и 
      Сержпутовскаго по случаю полученія наград, не завидовал, а провел день весело. Вечером 
      хватил босонож[ку] и выпил бокала два шампанскаго с Шварц[ем], Вейлеровским [?] и 
      Гембичом, потом болтал с Шубиным и с Сашей Горчаковым. — Исключая праздности, 
      днем своим очень доволен. (1)
    </p>  