<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>    
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Загружаем фав-иконки -->
    <link rel="icon" href="img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <!-- Подключен файл со стандартными стилями бустрап -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>{{title}}</title>
  </head>
  <body>
    <header>
        {% include '/Users/mufaka/Desktop/Dev/yatube/yatube_project/yatube/templates/includes/header.html' %}    
    </header>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <body>
          {% comment %} <a class = 'navbar-brand' href="{% url 'yatube:group_list' %}">
            <h1>{% if text == 'Главная страница' %}
                Вы на главной странице.
                {% elif text == 'Вложенная страница' %}
                Вы в одном клике от главной страницы!
                {% else %}
                Мы понятия не имеем, где вы!
                {% endif %}<h1> {% endcomment %}
                
                {% comment %} {% if post.group %}   
                  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                {% endif %}  {% endcomment %}
          <a>
          
        <!-- под последним постом нет линии -->
      </div>  
      {% include '/Users/mufaka/Desktop/Dev/yatube/yatube_project/yatube/templates/base.html' %}
    </main>
    <footer class="page-footer font-small blue border-top">
      {% include '/Users/mufaka/Desktop/Dev/yatube/yatube_project/yatube/templates/includes/footer.html' %}
        <p><span style="color:red">Ya</span>tube</p> 
      </div>    
    </footer>
  </body>
</html>
